<div class="sort-container">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select [(value)]="sortOrder" (selectionChange)="onSortOrderChange($event.value)">
      <mat-option value="brandAToZ">Brand (A-Z)</mat-option>
      <mat-option value="brandZToA">Brand (Z-A)</mat-option>
      <mat-option value="priceLowToHigh">Price (Low-High)</mat-option>
      <mat-option value="priceHighToLow">Price (High-Low)</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row wrap" class="card-container">
  <div *ngFor="let k of keyboards" class="card-item">
    <app-keyboard-card [keyboard]="k"></app-keyboard-card>
  </div>
</div>